html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

body {
  position: relative;
  min-width: 375px;
}

body::-webkit-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 50;
  width: 5px;
}

body::-webkit-scrollbar-track-piece {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(155.4deg, #78e389 0.2%, #1eb893 90.81%);
}

.fitImg {
  @apply absolute top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4;
}
